{% extends 'base.html' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href=""/>
	<script src="/static/js/moment.min.js"></script>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<main class="col-md-8">
					<div class="blog-header">
						<h1>{{blog.title}}</h1>
						<span class="blog-author">By <a href="#"><strong>{{blog.author.username}}</strong></a> </span></span>
					</div>
					<div class="blog-content">
					{{blog.content | safe}}
					</div>
			</main>
		</div>
	</div>	
{% endblock %}