{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/addblog.css"/>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script>
	$(function() {
		$( ".dtpick" ).datepicker({ dateFormat: 'yy-mm-dd',
									minDate:0
									});
	});
	</script>
	<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
	<script>tinymce.init({ selector:'textarea' ,
							setup: function(ed) {
        ed.on('submit', function(e) { ed.save(); });
    }
						});</script>
	<style>
	
		#ui-datepicker-div{ top:733px !important;}

		#attachments{
			display:none;
		}
	</style>

{% endblock %}
{% block content %}
	
<div class="row">
<div class="container">
	<div class="col-md-10">
		<h2 class="margin-bt">Edit Blog</h2>
	
		<form name="editform" action="/blog/blog_edit/{{ blog.id }}" method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="form-group col-md-12">
					
	            	<label for="title" class="control-label" required>*Title</label><br>
	            	<input type="text" class="input-t" name="title" value="{{ blog.title }}" required>  
	        	</div>
	    	</div>
			
			<div class="row">
				<div class="form-group col-md-12">
					<label for="content" class="control-label">*Content</label><br>
					<textarea class=".content input-t" rows="15" name="content">{{ blog.content }}</textarea>	  
	        	</div>
	    	</div>
	  		
		  	<div class="row">
	            <div class="form-group col-md-12">
	            	<label class="control-label">Blog Image</label>
	                <input type="file" id="attachments" class="input-t" accept="image/*" name="file_image" required>
	            </div>  
	           {% if blog.files[0] %}
	            <div id="preview" class="col-md-3">
	                <img class="img-responsive" src="/static/images/{{ blog.files[0].filename }}"/>
	                <button class="media-button" id="button1" type="button" value="{{ blog.files[0].id }}" data-toggle="tooltip" title="remove this image"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
	            </div>
	           {% endif %}
			</div>
				
			
			<div class="row">
				<div class="form-group col-md-12">
				
            	<label for="published_d" class="control-label">Publication_date</label><br>
            	<input type="text" name=published_d class="dtpick input-t date-t" value ="{{ blog.published_date.date() }}">
            	  
            	</div>  
        	</div>
	        <div class="row">
				<div class="form-group col-md-12">
	            	<button type="submit" class="btn btn-success button-t">Save</button>	
	            </div>  
	        </div>		
			
		</form>
	</div>
</div>
</div>

{% endblock %}

{% block bottomcontent %}
<script type="text/javascript" src="/static/js/edit_blog.js"></script>
{% endblock %}