{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/login.css"/>   
{% endblock %}
{% block content %}
<div class="container">

    <div class="login-page">
    <div class="form">
    <form class="login-form" action="" method="post" name="register">
      {% if error %}
        <p style="color:red">{{ error }}</p>
      {% endif %}
      {% if password_error %}
        <p style="color:red">{{ password_error }} </p>
      {% endif %}
      <input type="text" placeholder="username" name="username"/>
      <input type="email" placeholder="email" name="email"/>
      <input type="password" placeholder="password" name="password"/>
      <input type="password" placeholder="confirm password" name="confirm_password"/>
      <button>Register</button>
    </form>
  </div>
    </div>
</div>
{% endblock %}